<nav id="navbar">
    <div class="navbar_menu">
        <ul class="navbar_menu_items">
          <li class="navbar_menu_items_item">Home</li>
          <li class="navbar_menu_items_item">About</li>
          <li class="navbar_menu_items_item">Bible</li>
          <li class="navbar_menu_items_item">Study Tools</li>
        </ul>
        <ul class="navbar_menu_acct">
          <li class="navbar_menu_acct">Account</li>
        </ul>
    </div>
</nav>

<section class="home">
    <div class="row home_row">
      <div class="col home_row_col">
        <div class="home_search">
          <input type="text" placeholder="Please click here to search a keytword in the bible" class="home_search_bar">
          <div class="home_search_icon">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="home_details">
          <h2>Study the living word of God</h2>

          <p>Read it, know it, and enjoy it! All of God's word is living and active, working in the hearts of those who hear it and read it (Heb. 4:12). <br>
             And all of scripture is is from the mouth of God and can be used to help us grow not only in the knowledge of who the Lord is, but also in <br>
             how we live our lives for Him (2 Tim. 3:16-17). In fact know that ZGod desires that we konw Him through reading His word, and that we be <br>
             obedient to Him through keeping it (Josh. 1:8, Deut. 8:3, Lk. 11:27-28). So with all things being said, read the living word of God and know hbow wonderful He truly is!</p>
        </div>
      </div>
      <div class="col">
          <div class="home_vod">
            <h2>Verse of the Day</h2>

            <h4>Romans 1:1</h4>
            <p><b>1</b> I beseech you therefore, brethen, by the mercies of God, that you present your bodies a living sacrifice, holy, acceptable to God, which is your reasonable service.</p>
          </div>
      </div>
    </div>
</section>

<footer>
  <div class="footer">
    <p>Copyright Trusted Word All Rights Reserved</p>
    <p>Contact</p>
  </div>
</footer>

<router-outlet></router-outlet>
